# --- Bỏ qua rác hệ thống ---
.DS_Store
Thumbs.db

# --- Bỏ qua file môi trường (Chứa mật khẩu - RẤT QUAN TRỌNG) ---
.env
**/.env

# --- Bỏ qua thư viện Backend (Laravel/PHP) ---
/backend/vendor/
/backend/storage/*.key

# --- Bỏ qua thư viện Frontend (React/Node) ---
/frontend/node_modules/
/frontend/build/
/frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Bỏ qua thư mục IDE (VS Code, JetBrains) ---
.idea/
.vscode/