version: "3.9"

services:

  backend:
    build:
      context: ./backend
    container_name: backend
    ports:
      - "80:80"
    volumes:
      - ./backend/wait-for-mysql.sh:/wait-for-mysql.sh:ro
    depends_on:
      - mysql
    command: bash -c "bash /wait-for-mysql.sh && php artisan migrate --force && apache2-foreground"
    environment:
      DB_CONNECTION: mysql
      DB_HOST: mysql
      DB_PORT: 3306
      DB_DATABASE: laravel
      DB_USERNAME: root
      DB_PASSWORD: 123456

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"

  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: laravel
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
